[submodule "HyperEngine/vendor/spdlog"]
	path = HyperEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HyperEngine/vendor/GLFW"]
	path = HyperEngine/vendor/GLFW
	url = https://github.com/glfw/glfw
